img {
	width: 100px;
	height: 100px;
}

body {
	padding-top: 0px;
}

.fuente {
	font-family: impact;
	position: center;
}

.col-md-4, .col-xs-6 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background: rgba(86, 61, 124, .15);
	border: 1px solid rgba(86, 61, 124, .2);	
}